<section class="dmxroles">
  <h2>¿Quiénes usan datamx?</h2>
  <p>Descubre qui&eacute;nes usan y c&oacute;mo se usan los datos abiertos<br />en M&eacute;xico para mejorar el pa&iacute;s.</p>

  <div class="dmxroles__container">
    <div class="dmxroles__item">
      <div class="dmxroles__left">
        <h2>Creadores</h2>
        <p>APIs Visualizaciones Open source Datos abiertos</p>
        <a class="button button-green" href="http://docs.ckan.org/en/ckan-2.2/api.html">API Docs</a>
      </div>
      <div class="dmxroles__right dmxroles__green">
        <h2>App C&iacute;vicas</h2>
        <p><a href="http://reportesapao.oaxaca.gob.mx/" target="_blank">URBEM, plataforma para reportes ciudadanos en Oaxaca.</a></p>
      </div>
    </div>
    <div class="dmxroles__item">
      <div class="dmxroles__left">
        <h2>Gobiernos</h2>
        <p>Publica<br />Mide<br />Comparte<br />Datos<br /></p>
        <a class="button button-blue" href="/dataset/new">Publicar</a>
      </div>
      <div class="dmxroles__right dmxroles__blue">
        <h2>Transparencia</h2>
        <p><a href="http://oaxtransparente.datamx.io" target="_blank">Abre tus datos a la comunidad y fomenta la innovación cívica</a></p>
      </div>
    </div>
    <div class="dmxroles__item">
      <div class="dmxroles__left">
        <h2>Periodistas</h2>
        <p>Visualiza<br />Analiza<br />Descubre<br />Datos abiertos</p>
        <a class="button button-yellow" href="/dataset">Explorar</a>
      </div>
      <div class="dmxroles__right dmxroles__yellow">
        <h2>Presupuestos</h2>
        <p><a href="http://alcalde-como-vamos.datamx.io" target="_blank">Analiza los presupuestos de la zona metropolitana de Monterrey.</a></p>
      </div>
    </div>
    <div class="dmxroles__item">
      <div class="dmxroles__left">
        <h2>Sociedad</h2>
        <p>Decide<br />Descubre<br />Act&uacute;a<br />Datos abiertos</p>
        <a class="button button-orange" href="/dataset">Visualizar</a>
      </div>
      <div class="dmxroles__right dmxroles__orange">
        <h2>Visualizaciones</h2>
        <p><a href="http://cuantodebemos.mx" target="_blank">Conoce la deuda de tu estado. Encuéntralo en CuantoDebemos.mx</a></p>
      </div>
    </div>
  </div>
</section>
