{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('Buscar por palabras clave...') %}

<section class="dmxsearch">
  <form class="dmxsearch__inner" method="get" action="{% url_for 'dataset.search' %}">
    <h1>La plataforma cívica de <span class="highlighted">datos abiertos</span> de México</h1>
    <p class="dmxsearch__subtitle">Buscamos organizar los datos abiertos de México.</p>
    <div class="dmxsearch__input-container">
      <div class="dmxsearch__input-container-inner">
        <input type="text" class="dmxsearch__input" name="q" placeholder="{{ placeholder }}" />
      </div>
    </div>
  </form>
</section>
