<section class="subscription">
  <div class="message">
    <label id="msg">Súmate a la comunidad de datos abiertos de México.</label>
<p>No te enviaremos spam ni compartiremos tu email con terceros.</p>
  </div>
<form action="//codeandomexico.us4.list-manage.com/subscribe/post?u=9999e133ff73ed69bbddc6af9&amp;id=fc526c99c5" class="input-lg form-inline" method="post" name="mc-embedded-subscribe-form" target="_black" role="form" novalidate>
    <div class="mail form-group">
        <input id="email" class="form-control" type="email" value="" name="EMAIL" placeholder="sigue@codeandomexico.org" required>
    </div>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_edb21ee4f7098f8db239eea63_10162bafef" tabindex="-1" value=""></div>
    <div class="send form-group">
        <input type="submit" class="button button-orange" id="subscribe_me" value="Suscríbeme" name="subscribe">
    </div>
  </form>
</section>
