{% ckan_extends %}

{% block primary_content %}
  {% snippet 'home/snippets/search.html'  %}
  <section class="dmxorgcount">
    Hay <b><a href="/organization">{{ h.get_site_statistics()["organization_count"] }}</a></b> organizaciones
    de la sociedad civil y gobiernos publicando <br />
    sus datos abiertos a la comunidad
  </section>

  <div class="collaborators">
    <div class="allies">
      <h2>Nuestros Aliados</h2>
      <a href="http://datos.gob.mx" target="_blank">
        <img src="/dgm.png" />
      </a>
      <a href="http://imco.org.mx/home/" target="_blank">
        <img src="/imco_logo.jpg" />
      </a>
      <a href="http://www.oaxtransparente.oaxaca.gob.mx/" target="_blank">
        <img src="/oaxtransparente_logo.png" />
      </a>
      <a href="http://www.comovamosnl.org/" target="_blank">
        <img src="/alcalde_logo.png" />
      </a>
    </div>
    <div class="community">
      <h2>Parte de la comunidad</h2>
      <a href="http://opendata.mx" target="_blank">
        <img src="/opendatamx_logo.png" />
      </a>
    </div>
    <div class="supporters">
      <h2>Con apoyo de</h2>
      <a href="http://www.avina.net/" target="_blank">
        <img src="/avina_americas.png" />
      </a>
    </div>
  </div>
{% endblock %}
