{% ckan_extends %}

{% block meta %}
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{%- block custom_styles %}
  <link rel="stylesheet" href="/datamx_theme.css" />
  <script type="text/javascript" src="/general.js"></script>
  {%- if g.site_custom_css -%}
  <style>
    {{ g.site_custom_css | safe }}
  </style>
  {%- endif %}
{% endblock %}
