{% ckan_extends %}

{% block footer_content %}
  <div class="footer-links">
    <div class="logo">
      <a href="http://www.codeandomexico.org">
        <img src="/logo_cmx.png" />
      </a>
      <h5>2013 - 2023 Codeando M&eacute;xico A.C.</h5>
    </div>

    <ul class="unstyled">
      <li><a href="mailto:equipo@codeandomexico.org">{{ _('Contact Us') }}</a></li>
      <li>Twitter: <a href="http://twitter.com/codeandomexico" target="_blank" rel="noopener">@Codeandomexico</a></li>
      <li><a href="/about">Acerca de</a></li>
      {% set api_url = 'http://docs.ckan.org/en/{0}/api/index.html'.format(g.ckan_doc_version) %}
      <li><a href="{{ api_url }}" target="_blank" rel="noopener">{{ _('CKAN API') }}</a></li>
      <li><a href="https://retos.codeandomexico.org">Retos</a></li>
    </ul>

    <ul class="unstyled">
      <li>{% snippet "snippets/language_selector.html" %}</li>
      <li><a href="http://ckan.org">Powered by CKAN</a></li>
      <li><a href="http://paginas.datamx.io/changelog/">Changelog: bit&aacute;cora del producto</a></li>
    </ul>
  </div>
{% endblock %}
