{% ckan_extends %}

{% block header_wrapper %}
  <div class="dmxnav">
    <div class="dmxnav__brand">
      <a href="{% url_for 'home.index' %}"><img src="{{ g.site_logo }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
      <button id="nav-toggle" class="dmxnav__collapse">{% include 'svg/burger.svg' %}</button>
    </div>

    <div class="dmxnav__body">
      <ul class="dmxnav__links">
        <li><a href="/dataset">Datos</a></li>
        <li><a href="/organization">Organizaciones</a></li>
        <li><a href="/about">Acerca de</a></li>
      </ul>

      <ul class="dmxnav__links">
        {% if c.userobj %}
          <li>
            <a title="perfil" href="{% url_for 'dashboard.index' %}">
              {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=30) }}
              <span class="username">{{ c.userobj.display_name }}</span>
            </a>
          </li>
          {% if c.userobj.sysadmin %}
            <li><a href="{{ h.url_for(controller='admin', action='index') }}">Admin</a></li>
          {% endif %}
          <li><a href="{{ h.url_for('/user/_logout') }}">Logout</a></li>
        {% else %}
          <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
