:root {
    --header-bg-color: #283858;
    --header-brand-bg-color: #151F31;
    --header-text-color: white;
    --header-height: 75px;
    --header-font-size: 15px;
    --header-letter-spacing: 1px;

    /* Minimum spacing between UI items. For example this is the padding content
     * has with the screen border on mobile */
    --item-spacing: 1.5rem;
}

body {
  background-color: #3d3d3d;
}

.account-masthead {
  background-color: rgb(40, 40, 40);
}

.hero {
  background: url(/cmx-home.jpg);
  padding: 60px 0;
}

/**
 * 2022 Revision following
 */

/* Reset */

h1 {
    font-size: 29px;
    line-height: 40px;
    letter-spacing: 1.4px;
    font-weight: 100;
}

/* sticky navigation bar on top */

.dmxnav {
    position: sticky;
    top: 0px;
    z-index: 10;
    display: grid;
    grid-template-columns: 360px 1fr;
    background-color: var(--header-bg-color);
    min-height: var(--header-height);
    font-size: var(--header-font-size);
    letter-spacing: var(--header-letter-spacing);
}

.dmxnav__collapse {
    display: none;
}

.dmxnav__brand a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--header-brand-bg-color);
}

.dmxnav__brand img {
    max-height: 45px;
}

.dmxnav__body {
    display: flex;
    justify-content: space-between;
    transition: all ease-in 300ms;
}

ul.dmxnav__links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.dmxnav__links a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    color: var(--header-text-color);
}

ul.dmxnav__links a:hover {
    text-decoration: none;
}

/* fancy search form in front page */

.dmxsearch {
    overflow: hidden;
    background-image: url(/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.dmxsearch__inner {
    display: block;
    padding: 130px var(--item-spacing);
    text-align: center;
    color: white;
}

.dmxsearch__subtitle {
    font-size: 1.25em;
    font-weight: 100;
    letter-spacing: 0.02em;
    color: #BDBDBD;
}

.dmxsearch__input-container {
    margin-top: 2rem;
}

.dmxsearch__input-container-inner {
    margin: 0 auto;
    max-width: 600px;
}

.dmxsearch__input {
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 25px 20px;
    border: none;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.0em;
    color: black;
}

/* Tiny organization count bellow the search */

.dmxorgcount {
    padding: 50px var(--item-spacing);
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

.dmxorgcount a {
    color: white;
    text-decoration: underline;
}

.dmxroles {
    background-color: #EEEEEE;
    padding: 3rem var(--item-spacing);
    color: #858585;
    font-size: 21px;
    text-align: center;
}

.dmxroles__container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.dmxroles__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    background-color: white;
    max-width: 600px;
    border-radius: 5px;
    overflow: hidden;
}

.dmxroles__item > div {
    padding: 1rem 2rem;
}

.dmxroles__left {
    text-align: center;
}

.dmxroles__right {
    background-position: center;
    background-size: cover;
    color: white;
}

.dmxroles__right a {
    color: white;
}

.dmxroles__green {
    background-image: url(/green_img_bg.png);
}

.dmxroles__blue {
    background-image: url(/blue_img_bg.png);
}

.dmxroles__yellow {
    background-image: url(/yellow_img_bg.png);
}

.dmxroles__orange {
    background-image: url(/orange_img_bg.png);
}


/**
 * 2022 revision end
 */

/* Index search snippet */

ul.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

a.button {
  color: #ffffff;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.5);
  letter-spacing: 0.05em;
  display: inline-block;
  margin: 20px 0px 20px 0px;
  font-size: 21px;
}

a.button:hover {
  text-decoration: none;
}

.button-green {
  background-color: #00CC79;
}

.button-yellow {
  background-color: #ECBC2B;
}

.button-blue {
  background-color: #24AEED;
}

.button-orange {
  background-color: #F06226;
}

a.button-bordered:hover {
  text-decoration: none;
}

a.button-bordered {
  padding: 10px 30px 10px 30px;
  border: 3px solid #A2A2A2;
  border-radius: 3px;
  color: #686868;
  font-size: 1.3em;
  display: inline-block;
  margin: 10px;
}

.collaborators {
  background-color: #FFFFFF;
  padding: 25px 10px 25px 10px;
  color: #858585;
  text-align: center;
}

.collaborators h2 {
  font-weight: 400;
  text-align: center;
}

.collaborators div {
  display: inline-block;
  margin: 10px;
}

.collaborators div img {
  margin: 30px 10px 30px 10px;
  height: 70px;
}

/* Footer */

.site-footer {
  background: #EEEEEE;
  color: #2C2C2C;
  font-weight: 200;
  font-size: 1.1em;
  padding: 50px var(--item-spacing);
}

.site-footer a {
  color: #2C2C2C;
}

.site-footer h5 {
  font-weight: 200;
  color: #565656;
}

.site-footer .logo {
  text-align: center;
  vertical-align: top;
}

.site-footer label {
  color: #2C2C2C;
  font-weight: 200;
  font-size: 1.1em;
}

.footer-links {
    display: grid;
    gap: var(--item-spacing);
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}


/* Subscription*/

.subscription {
    text-align: center;
    margin: 60px 10px;
    color: white;
}

#msg {
  font-family: inherit;
  font-size: 1.53em;
  letter-spacing: 0.05em;
  margin: 10px 0px;
  line-height: initial;
  font-weight: normal;
}

#msg:after {
  content: "";
}
.message {
  margin: 20px 0px;
}
.subscription .mail, .subscription .send {
  display: inline-block;
}
.subscription .form-inline {
  margin: 0px;
  display: inline-block;
}

input.button {
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.5);
  letter-spacing: 0.05em;
  display: inline-block;
  margin: 0px;
  font-size: 18px;
  border-color: transparent;
  font-family: inherit;
}

#email {
  font-size: 16px;
  margin: 10px 5px;
  padding: 10px;
  width: 18em;
  font-family: inherit;
}

/* Organization */

.organization-page {
  background-color: #EEEEEE;
  padding: 20px 40px;
  border-bottom: 1px solid #BEBEBE;
}

.organization-page.module-content {
  background-color: #202f4c;
}

.image-circle {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.organization-heading {
  color: #FFFFFF;
  font-size: 50px;
}

.organization-description {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 30px;
  font-weight: 100;
  letter-spacing: 1px;
}

.organization {
  text-align: center;
}

.organization div {
  display: inline-block;
  vertical-align: top;
}

.organization .stats {
  text-align: left;
  display: block;
  margin-top: 20px;
}

.organization .stats div {
  text-align: center;
  color: #506897;
  font-size: 24px;
  font-weight: 300;
  border: 4px solid #506897;
  border-radius: 5px;
  padding: 20px 30px;
  min-width: 130px;
}

.organization .stats div h1 {
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 400;
  margin: -10px;
  text-align: center;
}

.organization-info h1 {
  text-align: left;
}

.organization-info p {
  text-align: left;
  width: 600px;
}

.organization-info a {
  display: block;
  color: #62E7DE;
}

.package-list {
  background: #EEEEEE;
  margin-left: auto;
  margin-right: auto;
}

.dataset-list .dataset-item {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  height: 180px;
  margin: 15px 5px 15px 5px;
  background: #FFFFFF;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
  box-shadow: 0px 2px 0px #5CB3E7;
  position: relative;
}

.dataset-item .dataset-content div {
  overflow: hidden;
  font-weight: 200;
  font-size: 15px;
  color: #5B5B5B;
  position: relative;
  height: 4.0em;
}

.dataset-item .dataset-content div:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 1.3em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.dataset-item .dataset-content .dataset-heading {
  font-size: 20px;
  overflow: hidden;
  position: relative;
  height: 2.6em;
}

.dataset-item .dataset-content .dataset-heading:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 1.3em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.dataset-item .dataset-resources {
  position: absolute;
  bottom: 10px;
}

.dataset-item .dataset-resources .label {
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 200;
  margin-top: 3px;
}

div.organization-actions {
  padding-right: 110px;
  line-height: 0px;
}

div.organization-actions div{
  display: inline-block;
}

.filter-datasets {
  margin: 20px;
}

.filter-datasets ul li a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
}

.filter-datasets ul li a:hover {
  text-decoration: none;
}

.filter-datasets .label {
  padding: 8px 12px;
  background-color: #00469E;
  margin-top: 8px;
}

div.sort-datasets {
  color: #555555;
  font-size: 20px;
  font-weight: 100;
  margin: 15px 0px;
}

div.sort-datasets a.active {
  font-weight: bold;
}

div.sort-datasets a {
  color: #555555;
}

.apps-list {
  text-align: center;
  color: #5B5B5B;
  padding: 50px;
}

.apps-list h3 {
  font-size: 20px;
  font-weight: 300;
}

.apps-list > p {
  margin-bottom: 50px;
}

.apps-list p {
  color: #959595;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
}

.clearfix {
  clear: both;
}

.frame-app {
  width: 230px;
}

.frame-app h2 {
  color: #292929;
  font-weight: 500;
  letter-spacing: 1px;
}

.frame-app .technologies {
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 0px;
}

@media (min-width: 1200px){
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px;
  }
}

@media (max-width: 979px) {
  .nav-collapse .nav>li>a:hover, .nav-collapse .nav>li>a:focus,
  .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
    background-color: #151f31;
  }
  .nav-collapse .nav>li>a,
  .nav-collapse .dropdown-menu a {
    color: #ffffff;
    text-shadow: none;
    font-weight: 200;
  }

  .navbar-inner{
    background: #151f31;
  }

  .nav-collapse .dropdown-menu a {
    margin-left: 40px;
  }

  .homepage .search-form .search-input.search-giant input {
    width: 400px;
    font-size: 16px;
  }

  .site-footer {
    padding: 20px;
  }

  .dataset-list .dataset-item {
    width: 200px;
    height: 100px;
  }

  .dataset-item .dataset-content div {
    display: none;
  }

  .dataset-item .dataset-content .dataset-heading {
    font-size: 16px;
    height: 2.3em;
  }

  .dataset-item .dataset-resources .label {
    padding: 3px 15px;
    font-size: 12px;
  }

  .organization-info h1 {
    text-align: center;
  }

  .organization-info p {
    text-align: center;
  }

  .organization .stats {
    text-align: center;
  }

  .organization .stats div {
    padding: 10px 15px;
    border-width: 3px;
    font-size: 20px;
  }

  .organization .stats div h1 {
    font-size: 28px;
    margin: -5px;
  }

  div.organization-actions {
    line-height: inherit;
  }

  div.organization-actions div {
    float: left;
    clear: both;
  }

  .heading {
    font-size: 30px;
  }

  .description {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .homepage .search-form .search-input.search-giant input {
    width: 300px;
  }

  .organization-info p {
    width: auto;
  }

  .image-circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  div.sort-datasets {
    font-size: 16px;
    font-weight: 200;
  }

  div.sort-datasets span, div.sort-datasets a {
    display: block;
    float: left;
  }

  .heading {
    font-size: 25px;
  }

  .description {
    font-size: 18px;
  }

  .search-form .search-input.search-giant input {
    font-size: 14px;
  }

  .search-form .search-input.search-giant button i {
    font-size: 22px;
    width: 22px;
  }

  #email {
    width: 16em;
  }
}

/**
 * 2022 review of the media queries
 */

/* alternated tiles trick in dmxroles for big screens */
@media all and (min-width: 1041px) {
    .dmxroles__item:nth-child(n+3) .dmxroles__left {
        grid-column: 2/2;
    }
    .dmxroles__item:nth-child(n+3) .dmxroles__right {
        grid-column: 1/1;
    }
}

/* alternated tiles trick in dmxroles for medium screens */
@media all and (max-width: 1040px) and (min-width: 501px) {
    .dmxroles__item:nth-child(2n) .dmxroles__left {
        grid-column: 2/2;
    }
    .dmxroles__item:nth-child(2n) .dmxroles__right {
        grid-column: 1/1;
    }
}

/* alternated tiles trick in dmxroles for small screens */
@media all and (max-width: 500px) {
    .dmxroles__item {
        grid-template-columns: 1fr;
    }

    .dmxroles__right {
        grid-row: 1/1;
    }
}

/* stiles for smaller screens site-wide */
@media all and (max-width: 1040px) {
    .dmxnav {
        display: block;
    }

    .dmxnav__brand {
        display: grid;
        grid-template-columns: 1fr var(--header-height);
        background-color: var(--header-brand-bg-color);
    }

    .dmxnav__brand a {
        width: auto;
        min-height: var(--header-height);
    }

    .dmxnav__collapse {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
    }

    .dmxnav__collapse svg {
        width: 30px;
    }

    .dmxnav__collapse path {
        fill: white;
    }

    .dmxnav__body {
        display: flex;
        flex-direction: column;
        gap: var(--item-spacing);

        margin-top: -100%;
        z-index: -1;
        position: relative;
    }

    .dmxnav__body.visible {
        margin-top: 0;
    }

    ul.dmxnav__links {
        display: block;
    }

    ul.dmxnav__links a {
        padding: .5rem;
    }

    .dmxroles__container {
        grid-template-columns: 1fr;
    }
}
